<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Hospital </title>
        <link rel="stylesheet" href="LoginEstilo.css">
        <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
    </head>
    <body>
    <div class="login-container">
        <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
        <h2>Buscar Empleado</h2>
        <form th:action="@{/buscarempleado}" method="post" th:object="${empleado}">
            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>
            </div>
            <div>
                <label for="id">ID:</label>
                <input type="text" name="idEmpleado" id="id" placeholder="Ingrese el id" required>
            </div>
            <div>
                <button type="submit">Buscar</button>
                <button type="button"  th:onclick="'location.href=\'/gestionempleados\''">Volver</button>
            </div>
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text"  id="nombre" th:placeholder="${nombre}">
            </div>
            <div>
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" th:placeholder="${apellido}" >
            </div>
            <div>
                <label for="edad">Edad:</label>
                <input type="text" id="edad" th:placeholder="${edad}">
            </div>
            <div>
                <label for="telefono">Telefono:</label>
                <input type="text"  id="telefono" th:placeholder="${telefono}">
            </div>
            <div>
                <label for="fecha">Fecha:</label>
                <input type="text"  id="fecha" th:placeholder="${fecha}">
            </div>
            <h3>Citas:</h3>
            <div th:each="cita:${citas}">
                <label for="fec">Fecha:</label>
                <p id="fec" th:text="${cita.getFechaCita()}"></p>
                <label for="hora">Hora:</label>
                <p  id="hora" th:text="${cita.getHoraCita()}"></p>
                <hr>
            </div>

        </form>
    </div>
    </body>
    </html>