<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital </title>
    <link rel="stylesheet" href="LoginEstilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>

<div class="login-container">
    <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
    <h2>Actualizar</h2>
    <form th:action="@{/guardarhabitacion}" method="post" th:object="${habitacion}">
        <div th:if="mensaje">
            <p th:text="${mensaje}"></p>
        </div>
        <div>
            <label for="id">numero:</label>
            <input type="text" th:field="*{numHabitacion}" id="id" placeholder="Ingrese el id" required>
        </div>
        <div>
            <label for="tipo">Tipo:</label>
            <input type="text" th:field="*{tipoHabitacion}" id="tipo" placeholder="Ingrese el tipo" required>
        </div>
        <div>
            <label for="ocupacion">Ocupacion:</label>
            <select th:field="*{ocupacion}" id="ocupacion" class="styled-select" required>
                <option value="" disabled selected>Seleccione el tipo de ocupación</option>
                <option value="Individual">Individual</option>
                <option value="Compartida">Compartida</option>
            </select>
        </div>
        <div>
        <div class="button-container">
            <button type="submit" >Guardar</button>
            <button type="button"  th:onclick="'location.href=\'/gestionhabitaciones\''">Volver</button>
        </div>
    </form>
</div>
</body>
</html>