<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital </title>
    <link rel="stylesheet" href="LoginEstilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
    <h2>Editar Paciente</h2>
    <form th:action="@{/actualizarpaciente}" method="post" th:object="${paciente}">
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
        <div>
            <label for="id">ID:</label>
            <input type="text" name="idPaciente" id="id" placeholder="Ingrese el id" required>
        </div>
        <div>
            <button type="submit">Buscar</button>
            <button type="button"  th:onclick="'location.href=\'/gestionpacientes\''">Volver</button>
        </div>


    </form>
</div>
</body>
</html>