<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="LoginEstilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
    <h2>Iniciar Sesión</h2>
    <form th:action="@{/iniciar}" method="post" th:object="${usuario}">
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
        <div>
            <label for="user">Nombre de Usuario:</label>
            <input type="text" name="user" id="user" placeholder="Ingrese el Usuario" required>
        </div>
        <div>
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" required>
        </div>
        <div>
            <button type="submit">Iniciar Sesión</button>
        </div>
        <div>
            <a th:href="@{/registrarse}" class="button">Registrarse</a>
        </div>
    </form>
</div>
</body>
</html>