<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<header class="header">
    <div class="header-container">
        <div class="logo-container">
            <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
        </div>
    </div>
</header>
<div class="sidebar">
    <nav>
        <ul class="nav-list">
            <li><a th:href="@{/}">Salir</a></li>
            <li><a th:href="@{/index}" id="home">Inicio</a></li>
            <li><a th:href="@{/gestionempleados}">Empleados</a></li>
            <li><a th:href="@{/gestionpacientes}">Pacientes</a></li>
            <li><a th:href="@{/gestionhabitaciones}">Habitaciones</a></li>
            <li><a th:href="@{/gestioncitas}">Citas</a></li>
            <li><a th:href="@{/gestionarticulos}">Artículos</a></li>
            <li><a th:href="@{/gestionservicios}">Servicios</a></li>
            <li><a th:href="@{/gestioningresos}">Ingresos</a></li>
            <li><a th:href="@{/reportes}">Reportes</a></li>
            <li><a th:href="@{/catalogo}">Catálogo</a></li>
            <li><a th:href="@{/QuienesSomos}">Quienes somos</a></li>

        </ul>
    </nav>
</div>
<main class="main-content">
    <section class="welcome-section">
        <div class="welcome-container">
            <div class="welcome-text">
                <h1>Bienvenidos al Hospital </h1>
                <p>En el Hospital, estamos comprometidos a ofrecer atención de salud de excelencia para nuestra comunidad.</p> <p>Fundado con la misión de promover la salud y el bienestar de nuestros pacientes, nuestro hospital se ha destacado como un referente en atención médica, innovación y tecnología.</p>
            </div>
        </div>
    </section>

    <section class="image-section">
        <div class="image-container">
            <img src="/hospitalbieenvenida.png"  alt="Imagen del hospital" class="responsive-image" />
        </div>
    </section>


</main>
<footer class="footer">
    <hr>
    <p>© Todos los derechos reservados 2024</p>
    <hr>
</footer>
</body>
</html>
