<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hospital </title>
  <link rel="stylesheet" href="LoginEstilo.css">
  <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
  <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
  <h2>Buscar Cita</h2>
  <form th:action="@{/buscarcita}" method="post" th:object="${cita}">
    <div th:if="${error}" class="error-message">
      <p th:text="${error}"></p>
    </div>
    <div>
      <label for="id">ID:</label>
      <input type="text" name="idCita" id="id" placeholder="Ingrese el id" required>
    </div>
    <div>
      <button type="submit">Buscar</button>
    </div>
    <div th:if="${cita != null}">
      <div>
        <label for="fecha">Fecha:</label>
        <p id="fecha" th:text="${fecha}"></p>
      </div>
      <div>
        <label for="hora">Hora:</label>
        <p id="hora" th:text="${hora}"></p>
      </div>
      <div>
        <label for="paciente">Paciente:</label>
        <p id="paciente" th:text="${paciente}"></p>
      </div>
      <div>
        <h3>Empleados: </h3>
        <div th:each="empleado: ${empleados}">
          <p th:text="${empleado.getNomEmpleado()+' '+empleado.getApeEmpleado()}" id="empleado"></p>
        </div>
      </div>
    </div>
    <button type="button"  th:onclick="'location.href=\'/gestioncitas\''">Volver</button>
  </form>
</div>
</body>
</html>