<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital TdeA</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <h2>Reporte Empleados</h2>
    <hr>
    <form th:action="@{/reporteempleados}" method="get">
        <table class="styled-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Telefono</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.getIdEmpleado()}"></td>
                <td th:text="${empleado.getNomEmpleado()+' '+empleado.getApeEmpleado()}"></td>
                <td th:text="${empleado.getEdadEmpleado()}"></td>
                <td th:text="${empleado.getTelefonoEmpleado()}"></td>
                <td th:text="${empleado.getFechaEmpleado()}"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="back-button" th:onclick="'location.href=\'/reportes\''">Volver</button>
    </form>
</div>
</body>
</html>