<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital </title>
    <link rel="stylesheet" href="LoginEstilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>

<div class="login-container">
    <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
    <h2>Registrar Ingreso</h2>
    <form th:action="@{/ingresar}" method="post" th:object="${ingreso}">
        <div th:if="${mensaje}">
            <p th:text="${mensaje}"></p>
        </div>
        <div th:if="${error}">
            <p th:text="${error}" class="error-message"></p>
        </div>
        <div>
            <label for="id">Id Paciente:</label>
            <input type="text" th:field="*{idPaciente}" id="id" placeholder="Ingrese el id" required>
        </div>
        <div>
            <label for="ciudad">Ciudad:</label>
            <input type="text" th:field="*{ciudad}" id="ciudad" placeholder="Ingrese la ciudad de domicilio" required>
        </div>
        <div>
            <label for="motivo">Motivo:</label>
            <input type="text" th:field="*{motivo}" id="motivo" placeholder="Ingrese el motivo" required>
        </div>
        <div>
            <label for="acompañante">Acompañante:</label>
            <select th:field="*{acompañante}" id="acompañante" class="styled-select" required>
                <option value="" disabled selected>¿Tiene acompañante?</option>
                <option th:value="${true}">Sí</option>
                <option th:value="${false}">No</option>
            </select>
        </div>
            <div class="button-container">
                <button type="submit" >Registrar</button>
                <button type="button"  th:onclick="'location.href=\'/gestioningresos\''">Volver</button>
            </div>
    </form>
</div>
</body>
</html>