<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital </title>
    <link rel="stylesheet" href="LoginEstilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
    <h2>Registrar Salida</h2>
    <form th:action="@{/salir}" method="post" th:object="${ingreso}">
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
        <div>
            <label for="id">ID:</label>
            <input type="text" name="idPaciente" id="id" placeholder="Ingrese el id" required>
        </div>
        <div>
            <button type="submit">Registrar</button>
        </div>
        <div >
        <div th:if="${paciente}!=null">
            <label for="paciente">Paciente:</label>
            <input type="text" id="paciente" th:placeholder="${paciente.getNomPaciente()}">
        </div>
        <div th:if="${valor}!=null">
            <label for="total">Total a Pagar:</label>
            <p th:text="${valor}"id="total"></p>
        </div>
        <h3>Servicios: </h3>
        <div th:each="servicio:${servicios}">
            <label for="nombre">Nombre:</label>
            <p id="nombre" th:text="${servicio.getNomServicio()}"></p>
            <label for="valor">Valor:</label>
            <p id="valor" th:text="${servicio.getPrecioServicio()}"></p>
            <hr>
        </div>
        </div>
        <button type="button"  th:onclick="'location.href=\'/gestioningresos\''">Volver</button>
    </form>
</div>
</body>
</html>