<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital </title>
    <link rel="stylesheet" href="LoginEstilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
    <h2>Buscar Servicio</h2>
    <form th:action="@{/buscarservicio}" method="post" th:object="${servicio}">
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
        <div>
            <label for="id">ID:</label>
            <input type="text" name="idServicio" id="id" placeholder="Ingrese el id" required>
        </div>
        <div>
            <button type="submit">Buscar</button>
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text"  id="nombre" th:placeholder="${nombre}">
        </div>
        <div>
            <label for="precio">Precio:</label>
            <input type="text" id="precio" th:placeholder="${precio}">
        </div>
        <div>
            <label for="detalles">Detalles:</label>
            <input type="text" id="detalles" th:placeholder="${detalles}">
        </div>
        <h3>Pacientes: </h3>
        <div th:each="paciente:${pacientes}">
            <label for="name">Nombre:</label>
            <p id="name" th:text="${paciente.getNomPaciente()}"></p>
            <hr>
        </div>
        <button type="button"  th:onclick="'location.href=\'/gestionservicios\''">Volver</button>
    </form>
</div>
</body>
</html>