<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<header class="header">
    <div class="header-container">
        <div class="logo-container">
            <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
        </div>
    </div>
</header>
<div class="sidebar">
    <nav>
        <ul class="nav-list">
            <li><a th:href="@{/}">Salir</a></li>
            <li><a th:href="@{/index}" id="home">Inicio</a></li>
            <li><a th:href="@{/gestionempleados}">Empleados</a></li>
            <li><a th:href="@{/gestionpacientes}">Pacientes</a></li>
            <li><a th:href="@{/gestionhabitaciones}">Habitaciones</a></li>
            <li><a th:href="@{/gestioncitas}">Citas</a></li>
            <li><a th:href="@{/gestionarticulos}">Artículos</a></li>
            <li><a th:href="@{/gestionservicios}">Servicios</a></li>
            <li><a th:href="@{/gestioningresos}">Ingresos</a></li>
            <li><a th:href="@{/reportes}">Reportes</a></li>
            <li><a th:href="@{/catalogo}">Catálogo</a></li>
            <li><a th:href="@{/QuienesSomos}">Quienes somos</a></li>
        </ul>
    </nav>
</div>
<main class="main-content">
    <section class="welcome-section">
        <div class="welcome-container">
            <h1>Gestion Servicios</h1>
            <div class="welcome-text">

                <div class="options">
                    <button class="button" th:onclick="'location.href=\'/guardaservicio\''">Guardar</button>
                    <button class="button" th:onclick="'location.href=\'/buscaservicio\''">Buscar</button>
                    <button class="button" th:onclick="'location.href=\'/actualizaservicio\''">Actualizar</button>
                    <button class="button" th:onclick="'location.href=\'/eliminaservicio\''">Eliminar</button>
                </div>

            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <hr>
    <p>© Todos los derechos reservados 2024</p>
    <hr>
</footer>
</body>
</html>