<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catálogo Habitaciones</title>
    <link rel="stylesheet" th:href="@{/catalogo.css}">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <h1>Catálogo Habitaciones</h1>
    <form th:action="@{/seleccionar}" method="post" th:object="${ingreso}">
        <button type="button" class="back-button" th:onclick="'location.href=\'/gestioningresos\''">Volver</button>
        <input type="hidden" name="idPaciente" th:value="${idPaciente}">
        <div class="gallery">
            <div th:each="entry : ${habitacionimg}" class="gallery-item">
                <button type="submit" name="numHabitacion" th:value="${entry.key.numHabitacion}" class="image-button">
                    <img th:src="@{${entry.value}}" alt="Imagen de la Habitación">
                </button>

                <div class="info">
                    <h3 th:text="${entry.key.numHabitacion}">Número de Habitación</h3>
                </div>
            </div>
        </div>
    </form>
    <div th:if="${error}!=null" class="error-message" >
        <p th:text="${error}"></p>
    </div>
    <div th:if="${Mensaje}!=null" class="mensaje-message">
        <h3 th:text="${Mensaje}"></h3>
    </div>
</div>
</body>
</html>
