<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hospital </title>
  <link rel="stylesheet" href="estilo.css">
  <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
  <h2>Servicios</h2>
  <hr>
  <form th:action="@{/servicios}" method="post">
    <table class="styled-table">
      <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Detalles</th>
        <th>Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="servicio : ${servicios}">
        <td name="codigo" th:text="${servicio.getCodServicio()}"></td>
        <td th:text="${servicio.getNomServicio()}"></td>
        <td th:text="${servicio.getPrecioServicio()}"></td>
        <td th:text="${servicio.getDetallesServicio()}"></td>
        <td>
          <a th:href="@{|/adquirirservicio/${servicio.getCodServicio()}|}" th:text="Adquirir"></a>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="back-button" th:onclick="'location.href=\'/catalogo\''">Volver</button>
  </form>
</div>
</body>
</html>