<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital </title>
    <link rel="stylesheet" href="LoginEstilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>

<div class="login-container">
    <img src="/imagen_hospital-sin-fondo.ico" alt="Logo del hospital" class="logo" />
    <h2>Guardar</h2>
    <form th:action="@{/actuali}" method="post" th:object="${articulo}">
        <div th:if="mensaje">
            <p th:text="${mensaje}"></p>
        </div>
        <div>
            <input type="hidden"th:field="*{idArticulo}">
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" th:field="*{nomArticulo}" id="nombre" placeholder="Ingrese el nombre" required>
        </div>
        <div>
            <label for="cantidad">Cantidad:</label>
            <input type="number" th:field="*{cantidad}" id="cantidad" placeholder="Ingrese la cantidad" required>
        </div>
        <div>
            <label for="descripcion">Descripcion:</label>
            <input type="text" th:field="*{descripcion}" id="descripcion" placeholder="Ingrese la descripcion" required>
        </div>

        <div class="button-container">
            <button type="submit" >Guardar</button>
            <button type="button"  th:onclick="'location.href=\'/gestionarticulos\''">Volver</button>
        </div>
    </form>
</div>
</body>
</html>