<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asignar Artículos</title>
    <link rel="stylesheet" href="LoginEstilo.css">
    <link rel="shortcut icon" href="/imagen_hospital-sin-fondo.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <h2 th:text="'Asignar Artículo ID: ' + ${articulo.idArticulo}"></h2>

    <div th:if="${mensaje}">
        <p th:text="${mensaje}"></p>
    </div>
    <div th:if="${error}">
        <p class="error-message" th:text="${error}"></p>
    </div>

    <form th:action="@{/asignahabitaciones}" method="post">
        <input type="hidden" name="articuloId" th:value="${articulo.idArticulo}">

        <div>
            <label for="habitacionId">ID Habitación:</label>
            <input type="number" name="habitacionId" id="habitacionId" required>
        </div>
        <div>
            <label for="cantidad">Cantidad: </label>
            <input type="number" name="cantidad" id="cantidad" required>
        </div>

        <button type="submit">Asignar Habitación</button>
    </form>

    <h3>Habitaciones Asignadas:</h3>
    <ul>
        <li th:each="habitacion : ${articulo.getHabitaciones()}"
            th:text="${habitacion.getNumHabitacion()}+' - '+${habitacion.getTipoHabitacion()}"></li>
    </ul>

    <a th:href="@{/gestionarticulos}">
        <button>Volver</button>
    </a>
</div>
</body>
</html>
